
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Noto Serif', serif; */
  background: black;
  color: white;
  overflow-x: hidden;

}
@layer utilities {
   .headingPrimary{
    font-size: 4rem;
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    line-height: 1.25;
   }
   .gradient{
    background-image: linear-gradient(to bottom, #ffe998, #57370d);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   }
   .para{
    @apply font-light text-xl text-zinc-500 tracking-wider leading-tight ; 
   }
}

#hero{
  background-image: url('/public/backgroundHero.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid red; */
}
